/.idea/.idea.raft/.idea/.gitignore
/raft/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/raft/obj/Debug/net8.0/apphost
/.idea/.idea.raft/.idea/indexLayout.xml
/raft/obj/project.assets.json
/raft/obj/project.nuget.cache
/raft/obj/project.packagespec.json
/raft/bin/Debug/net8.0/raft
/raft/obj/Debug/net8.0/raft.AssemblyInfo.cs
/raft/obj/Debug/net8.0/raft.AssemblyInfoInputs.cache
/raft/obj/Debug/net8.0/raft.assets.cache
/raft/obj/Debug/net8.0/raft.csproj.AssemblyReference.cache
/raft/obj/Debug/net8.0/raft.csproj.CoreCompileInputs.cache
/raft/obj/Debug/net8.0/raft.csproj.FileListAbsolute.txt
/raft/obj/raft.csproj.nuget.dgspec.json
/raft/obj/raft.csproj.nuget.g.props
/raft/obj/raft.csproj.nuget.g.targets
/raft/obj/Debug/net8.0/raft.csproj.Up2Date
/raft/bin/Debug/net8.0/raft.deps.json
/raft/bin/Debug/net8.0/raft.dll
/raft/obj/Debug/net8.0/ref/raft.dll
/raft/obj/Debug/net8.0/refint/raft.dll
/raft/obj/Debug/net8.0/raft.dll
/raft/obj/Debug/net8.0/raft.GeneratedMSBuildEditorConfig.editorconfig
/raft/obj/Debug/net8.0/raft.genruntimeconfig.cache
/raft/obj/Debug/net8.0/raft.GlobalUsings.g.cs
/raft/bin/Debug/net8.0/raft.pdb
/raft/obj/Debug/net8.0/raft.pdb
/raft/bin/Debug/net8.0/raft.runtimeconfig.json
/raft/obj/Debug/net8.0/raft.sourcelink.json
/raft/obj/rider.project.restore.info
/raft/bin/Debug/net8.0/Spectre.Console.dll
/.idea/.idea.raft/.idea/vcs.xml
